<div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="question.key"
            [id]="question.key" [type]="question.type">

    <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [ngValue]="opt.key">{{opt.value}}</option>
    </select>

    <input *ngSwitchCase="'date'" [formControlName]="question.key"
      [id]="question.key" type="date">

    <!-- add datepicker -->

  </div>

  <div class="errorMessage" *ngIf="!isValid">
    <!-- TODO: Make these messages more human friendly -->
    <p *ngFor="let error of form.controls[question.key].errors | keyvalue">{{error.key}}</p>
  </div>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->